<!-- navbar part -->
<nav class="container-fluid navbar navbar-expand-lg navbar-light fixed-top" style="background-color:#91ee45e5;">
    <a class="navbar-brand" href="#" style="font-family: 'Francois One', sans-serif;font-size:35px;">
        <img id="bus-icon" src="/assets/icon01.jpg"> FabRoadies
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto offset-md-4">
            <li class="nav-item active">
                <a class="nav-link" href="#aboutUs">About Us</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Manage Bookings
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Change Date</a></li>
                    <li><a class="dropdown-item" href="#">Cancel Trip</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#destinations">Destination</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#feedback-form">Contact Us</a>
            </li>
            <button type="submit" class="btn btn-success" id="login-btn">Login</button>
            <button type="submit" class="btn btn-success" id="signUp-btn">Sign Up</button>
        </ul>
    </div>
</nav>
<!-- background, location set and search part -->
<div class="container-fluid" id="first-backgrnd">
    <div id="tag-line">Experience Travel like Never Before!</div>
    <div class="row location-bar">
        <div class="col">
            <input type="text" class="form-control" placeholder="From" aria-label="From" id="from-location">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="To" aria-label="To" id="to-location">
        </div>
        <div class="col">
            <input type="date" class="form-control" aria-label="Date" id="date">
        </div>
        <div class="col">
            <button id="search-btn" type="submit" class="btn btn-info btn-rounded">Search</button>
        </div>
    </div>
</div>
<!--About Us part-->
<div class="container-fluid my-4" id="aboutUs">
    <h2 class="my-4 py-3">About Us</h2>
    <p class="mx-3">
        <img src="/assets/icon01.jpg" alt="">
        Fab Roadies is a budding brand in Bus booking which aims to give you an experience worth remembering. We
        believe in the fact that while on vacations or trips or journeys, the time you spend on road is the most
        important one as It affects our moods and we make most of our priceless memories on roads itself. Thus, We
        are committed on a mission to make every Indian's road journey a spellbound experience.
        
        We hope you would have loved travelling with us, and we are open to all kinds of worthy feedbacks and/ or
        suggestions you might have for us, Tell us !!!
        (Feedback Form Link)
    </p>
</div>

<!--Booking Procedure part-->
<div class="container-fluid booking-process">
    <h2 class="text-center py-3">Booking Process</h2>
    <p class="text-center">Book your Bus in just 4 easy steps</p>
    <div class="row ">
        <div class="col">
            <img class="booking-icons" src="/assets/search-icon-img.png" alt="">
            <p id="icon-para">Search</p>
        </div>
        <div class="col">
            <img class="booking-icons" src="/assets/bus-icon-img03.png" alt="">
            <p id="icon-para">Select your Bus</p>
        </div>
        <div class="col">
            <img class="booking-icons" src="/assets/booking-icon-img02.png" alt="">
            <p id="icon-para">Book</p>
        </div>
        <div class="col">
            <img class="booking-icons" src="/assets/pay-icon-img.jpg" alt="">
            <p id="icon-para">Pay and Travel!</p>
        </div>
    </div>
</div>

<!--Destination part-->
<div class="container-fluid destination my-4" id="destinations">
    <h2 class="text-center py-3">Destinations</h2>
    <div class="row destination-row">
        <div class="col-4 col-lg-4 col-sm-1">
            <div class="card mx-bg-image hover-zoom" id="destination-icon" style="width: 18rem;">
                <img src="/assets/bangalore-img.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Bangalore</p>
                </div>
            </div>
        </div>
        <div class=" col-4 col-lg-4 col-sm-1">
            <div class="card bg-image hover-zoom" id="destination-icon" style="width: 18rem;">
                <img src="/assets/chennai-img.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Chennai</p>
                </div>
            </div>
        </div>
        <div class="col-4 col-lg-4 col-sm-1">
            <div class="card bg-image hover-zoom" id="destination-icon" style="width: 18rem;">
                <img src="/assets/pune-img.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Pune</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 col-lg-4 col-sm-1">
            <div class="card bg-image hover-zoom" id="destination-icon" style="width: 18rem;">
                <img src="/assets/mumbai-img.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Mumbai</p>
                </div>
            </div>
        </div>
        <div class="col-4 col-lg-4 col-sm-1">
            <div class="card bg-image hover-zoom" id="destination-icon" style="width: 18rem;">
                <img src="/assets/kolkata-img.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Kolkata</p>
                </div>
            </div>
        </div>
        <div class="col-4 col-lg-4 col-sm-1">
            <div class="card bg-image hover-zoom" id="destination-icon" style="width: 18rem;">
                <img src="/assets/delhi-img.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Delhi</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Feedback Form-->
<div class="container-fluid my-4" id="feedback-form">
    <div class="row">
        <div class="col-lg-5 col-md-4">
            <div class="mb-3">
                <label class="form-label">Name: </label>
                <input type="text" class="form-control" placeholder="Your Name">
            </div>
            <div class="mb-3">
                <label class="form-label">Email address: </label>
                <input type="email" class="form-control" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label class="form-label">Phone Number: </label>
                <input type="number" class="form-control" placeholder="(+91) 1234567890">
            </div>
        </div>
        <div class="col-lg-7 col-md-8">
            <div class="mb-3">
                <label class="form-label">Suggestions/Feedback :</label>
                <textarea class="form-control" placeholder="Write your suggestions/feedbacks here"
                    rows="8"></textarea>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</div>


<!--Footer-->
<footer class="footer mt-auto py-3 bg-light">

    <div class="container d-flex d-row  justify-content-center align-items-center">
        <img class="foot-icon" src="/assets/facebook-icon.png"><img class="foot-icon" src="/assets/insta-icon.jpg"><img
            class="foot-icon" src="/assets/twitter-icon02.jpg">
    </div>
    <h6 class="text-center text-muted">Contact Us at (+91 1234567890)</h6>
</footer>
