<!DOCTYPE html>
<div class="bg" style="background-image: url(/assets/Images/2.png);">

    <!--Login Part-->
    <div class="main container-fluid">
        <div class="heading my-4">
            <h2 class="fs-1"><b>Welcome to the Login Page!!</b></h2>
        </div>
        <div class="login">
            <div class="row">
                <div class="col-5">
                    <div class="container my-4">
                        <div class="card">
                            <img src="/assets/Images/1.jpg" class="card-img-top">
                            <div class="card-body">
                                <h4 class="card-title text-center"><b>Book Your Ticket</b></h4>
                                &nbsp;
                                <h5 class="text-center">Anytime!! From Anywhere!!</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="ques"><em><b>Don't have an account? <span><a href="#"><b>SIGN UP</b></a></span></b></em>
                    </div>
                    <form (ngSubmit) = "validate()">
                        <div class="form mb-3">
                            <label class="form-label"><b>Email address</b></label>
                            <input name ="emailid" [(ngModle)]="emailid" type="email" class="form-control rounded-pill border border-3 border-success" placeholder="name@example.com">
                        </div>
                        <div class="form mb-3">
                            <label class="form-label"><b>Password</b></label>
                            <input name ="passwd" [(ngModle)]="passwd" type="password" class="form-control rounded-pill border border-3 border-success ">
                        </div>
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-success btn-lg">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>